<!DOCTYPE html>
<html>
<head>
    <title>Netflix Rating Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">

</head>
<body>
    <div class="container">
        <h1 class="title">Netflix Rating Predictor</h1>
        <div class="form-container">
            <form method="POST">
                <div class="form-group">
                    <label for="release_year">Release Year</label>
                    <input class="form-control" type="number" type="text" id="release_year" name="release_year"><br><br>
                </div>
                <div class="form-group">
                    <label for="imdb_score">IMDB Score</label>
                    <input class="form-control" type="number" step="0.001" type="text" id="imdb_score" name="imdb_score"><br><br>
                </div>
                <div class="form-group">
                    <label for="runtime">Runtime</label>
                    <input class="form-control" type="number" type="text" id="runtime" name="runtime"><br><br>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        {% if result %}
        <div class="result">
            <h3>{{ result }}</h3>
        </div>
        {% endif %}
    </div>
</body>
</html>
